@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>External Link Interception</h1>
    <p class="lead">Example of one method of intercepting external links.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Internal Link</h2>
        @Html.ActionLink("Internal Link", "Index")
        <a href="rel/to/me.jpeg">Relative Internal</a>
        <a href="/rel/to/me.jpeg">Root Relative Internal</a>
    </div>
    <div class="col-md-4">
        <h2>External Link (HTTPS)</h2>
        <a href="https://www.google.com">Google</a>
        <a href="https://google.com">Google</a>
    </div>
    <div class="col-md-4">
        <h2>External Link (HTTP)</h2>
        <a href="http://www.youtube.com">YouTube</a>
        <a href="http://youtube.com">YouTube</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>External Link (Protocol Relative)</h2>
        <a href="//www.youtube.com">YouTube</a>
        <a href="//youtube.com">YouTube</a>
        <a href="//www.google.com">Google</a>
        <a href="//google.com">Google</a>
    </div>
    <div class="col-md-4">
        <h2>External Link (Non-web resource)</h2>
        <a href="tel:+14058884545">(tel)</a>
        <a href="mailto://jdphenix@gmail.com">(mail)</a>
        <a href="file:///c/tmp/0001-0250.avi">(file protocol)</a>
    </div>
    <div class="col-md-4">
        <h2>Redirect Direct Link</h2>
        <a href="/Leaving/Index?URL=https://www.google.com">Leaving to Google</a>
    </div>
</div>